<div class="container">
  <h2 class="border-bottom my-4 pb-2">Flats</h2>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-sm-6 col-lg-4 ">
        <div class="flat-card">
          <div class="card-image" style="background-image: url('<%= flat.picture_url %>');"></div>
          <div class="card-info ">
            <h3 class="mt-1"><%= flat.name.capitalize %></h3>
            <p><%= flat.address %></p>
          </div>
          <div class="d-flex align-items-center card-icons justify-content-end">
            <div class="d-flex align-items-center mr-4 text-secondary">
              <i class="fas fa-user-friends mr-2 text-secondary"></i>
              <span> <%= flat.number_of_guests %></span>
            </div>
            <span class="font-weight-normal text-secondary">$   <%= flat.price_per_night %></span>
          </div>
          <div class="card-links d-flex align-items-center border-top text-body justify-content-between">
            <%= link_to 'More info', flat_path(flat)%>
            <div>
            <%= link_to '<i class="fas fa-pencil-alt mr-3"></i>'.html_safe, edit_flat_path(flat)%>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe,
                        flat_path(flat),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
